In [2]:
import turicreate as tc
import pandas as pd
import csv

In [121]:
users = ['Alex', 'Ali', 'Ivaldo', 'Cris', 'John', 'Sophia', 'Karine']

data = [{'id' : 1, 'name': 'Alex', 'city_id': 1},
      {'id' : 2, 'name': 'Ali', 'city_id': 1},
      {'id' : 3, 'name': 'Ivaldo', 'city_id': 1},
      {'id' : 4, 'name': 'Cris', 'city_id': 1},
      {'id' : 5, 'name': 'John', 'city_id': 1},
      {'id' : 6, 'name': 'Sophia', 'city_id': 1},
      {'id' : 7, 'name': 'Karine', 'city_id': 1}]

with open('users.csv', 'w') as csvFile:
    fields = ['id', 'name', 'city_id']
    writer = csv.DictWriter(csvFile, fieldnames=fields)
    writer.writeheader()
    writer.writerows(data)

print("writing completed")

csvFile.close()

writing completed

In [122]:
df_users = pd.read_csv('users.csv')
df_users

   id    name  city_id
0   1    Alex        1
1   2     Ali        1
2   3  Ivaldo        1
3   4    Cris        1
4   5    John        1
5   6  Sophia        1
6   7  Karine        1

In [125]:
hotels = ['Hotel_1', 'Hotel_2', 'Hotel_3', 'Hotel_4','Hotel_5', 'Hotel_6', 'Hotel_7']

data = [{'id' : 1, 'name': 'Hotel_1', 'website': 'www.Hotel_1.com', 'address' : 'XXX AAAAAAA, Vancouver', 'city_id': 1},
      {'id' : 2, 'name': 'Hotel_2', 'website': 'www.Hotel_2.com', 'address' : 'XXX AAAAAAA, Vancouver', 'city_id': 1},
      {'id' : 3, 'name': 'Hotel_3', 'website': 'www.Hotel_3.com', 'address' : 'XXX AAAAAAA, Vancouver', 'city_id': 1},
      {'id' : 4, 'name': 'Hotel_4', 'website': 'www.Hotel_4.com', 'address' : 'XXX AAAAAAA, Vancouver', 'city_id': 1},
      {'id' : 5, 'name': 'Hotel_5', 'website': 'www.Hotel_5.com', 'address' : 'XXX AAAAAAA, Vancouver', 'city_id': 1},
      {'id' : 6, 'name': 'Hotel_6', 'website': 'www.Hotel_6.com', 'address' : 'XXX AAAAAAA, Vancouver', 'city_id': 1},
      {'id' : 7, 'name': 'Hotel_7', 'website': 'www.Hotel_7.com', 'address' : 'XXX AAAAAAA, Vancouver', 'city_id': 1}]

with open('hotels.csv', 'w') as csvFile:
    fields = ['id', 'name', 'website', 'address', 'city_id']
    writer = csv.DictWriter(csvFile, fieldnames=fields)
    writer.writeheader()
    writer.writerows(data)

print("writing completed")

csvFile.close()

writing completed

In [126]:
df_hotels = pd.read_csv('hotels.csv')
df_hotels

   id     name          website                 address  city_id
0   1  Hotel_1  www.Hotel_1.com  XXX AAAAAAA, Vancouver        1
1   2  Hotel_2  www.Hotel_2.com  XXX AAAAAAA, Vancouver        1
2   3  Hotel_3  www.Hotel_3.com  XXX AAAAAAA, Vancouver        1
3   4  Hotel_4  www.Hotel_4.com  XXX AAAAAAA, Vancouver        1
4   5  Hotel_5  www.Hotel_5.com  XXX AAAAAAA, Vancouver        1
5   6  Hotel_6  www.Hotel_6.com  XXX AAAAAAA, Vancouver        1
6   7  Hotel_7  www.Hotel_7.com  XXX AAAAAAA, Vancouver        1

In [127]:
features = ['Pool', 'Workout_Room', 'Free_Internet', 'Breakfast', 'Meeting_Rooms', 'Non_Smoking_Hotel', 
            'Bar', 'Laundry_service', 'Multilingual_Staff', 'Pets_Allowed',
           'Wheelchair_Access', 'Refrigerator_in_room', 'Air_Conditioning']

data = [{'id' : 1, 'name': 'Pool'},
      {'id' : 2, 'name': 'Workout_Room'},
      {'id' : 3, 'name': 'Free_Internet'},
      {'id' : 4, 'name': 'Breakfast'},
      {'id' : 5, 'name': 'Meeting_Rooms'},
      {'id' : 6, 'name': 'Non_Smoking_Hotel'},
      {'id' : 7, 'name': 'Bar'},
      {'id' : 8, 'name': 'Laundry_service'},
      {'id' : 9, 'name': 'Multilingual_Staff'},
      {'id' : 10, 'name': 'Pets_Allowed'},
      {'id' : 11, 'name': 'Wheelchair_Access'},
      {'id' : 12, 'name': 'Refrigerator_in_room'},
      {'id' : 13, 'name': 'Air_Conditioning'}]

with open('features.csv', 'w') as csvFile:
    fields = ['id', 'name']
    writer = csv.DictWriter(csvFile, fieldnames=fields)
    writer.writeheader()
    writer.writerows(data)

print("writing completed")

csvFile.close()

writing completed

In [128]:
df_features = pd.read_csv('features.csv')
df_features

    id                  name
0    1                  Pool
1    2          Workout_Room
2    3         Free_Internet
3    4             Breakfast
4    5         Meeting_Rooms
5    6     Non_Smoking_Hotel
6    7                   Bar
7    8       Laundry_service
8    9    Multilingual_Staff
9   10          Pets_Allowed
10  11     Wheelchair_Access
11  12  Refrigerator_in_room
12  13      Air_Conditioning

In [129]:
users_hotels = [[4, 6, 8, 0, 0, 0, 4],
                [0, 0, 10, 0, 8, 3, 5],
                [0, 6, 0, 0, 3, 7, 0],
                [10, 9, 0, 5, 0, 2, 9],
                [3, 6, 6, 0, 8, 0, 0],
                [0, 1, 3, 0, 2, 0, 5],
                [7, 0, 0, 0, 2, 8, 0]]

data = [{'id' : 1, 'user_id': 1, 'hotel_id': 1, 'score': 2},
      {'id' : 2, 'user_id': 1, 'hotel_id': 2, 'score': 3},
      {'id' : 3, 'user_id': 1, 'hotel_id': 3, 'score': 4},
      {'id' : 4, 'user_id': 1, 'hotel_id': 7, 'score': 2},
      {'id' : 5, 'user_id': 2, 'hotel_id': 3, 'score': 5},
      {'id' : 6, 'user_id': 2, 'hotel_id': 5, 'score': 4},
      {'id' : 7, 'user_id': 2, 'hotel_id': 6, 'score': 1.5},
      {'id' : 8, 'user_id': 2, 'hotel_id': 7, 'score': 2.5},
      {'id' : 9, 'user_id': 3, 'hotel_id': 2, 'score': 3},
      {'id' : 10, 'user_id': 3, 'hotel_id': 5, 'score': 1.5},
      {'id' : 11, 'user_id': 3, 'hotel_id': 6, 'score': 3.5},
      {'id' : 12, 'user_id': 4, 'hotel_id': 1, 'score': 5},
      {'id' : 13, 'user_id': 4, 'hotel_id': 2, 'score': 4.5},
      {'id' : 14, 'user_id': 4, 'hotel_id': 4, 'score': 2.5},
      {'id' : 15, 'user_id': 4, 'hotel_id': 6, 'score': 1},
      {'id' : 16, 'user_id': 4, 'hotel_id': 7, 'score': 4.5},
      {'id' : 17, 'user_id': 5, 'hotel_id': 1, 'score': 1.5},
      {'id' : 18, 'user_id': 5, 'hotel_id': 2, 'score': 3},
      {'id' : 19, 'user_id': 5, 'hotel_id': 3, 'score': 3},
      {'id' : 20, 'user_id': 5, 'hotel_id': 5, 'score': 4},
      {'id' : 21, 'user_id': 6, 'hotel_id': 2, 'score': 0.5},
      {'id' : 22, 'user_id': 6, 'hotel_id': 3, 'score': 1.5},
      {'id' : 23, 'user_id': 6, 'hotel_id': 5, 'score': 1},
      {'id' : 24, 'user_id': 6, 'hotel_id': 7, 'score': 2.5},
      {'id' : 25, 'user_id': 7, 'hotel_id': 1, 'score': 3.5},
      {'id' : 26, 'user_id': 7, 'hotel_id': 5, 'score': 1},
      {'id' : 27, 'user_id': 7, 'hotel_id': 6, 'score': 4}]

with open('users_hotels.csv', 'w') as csvFile:
    fields = ['id', 'user_id', 'hotel_id', 'score']
    writer = csv.DictWriter(csvFile, fieldnames=fields)
    writer.writeheader()
    writer.writerows(data)

print("writing completed")

csvFile.close()

writing completed

In [130]:
df_users_hotels = tc.SFrame.read_csv('users_hotels.csv')
df_users_hotels

Finished parsing file /Users/admin/Hotel-Recommendation-System/users_hotels.csv

Parsing completed. Parsed 27 lines in 0.032508 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/admin/Hotel-Recommendation-System/users_hotels.csv

Parsing completed. Parsed 27 lines in 0.008041 secs.

Columns:
	id	int
	user_id	int
	hotel_id	int
	score	float

Rows: 27

Data:
+----+---------+----------+-------+
| id | user_id | hotel_id | score |
+----+---------+----------+-------+
| 1  |    1    |    1     |  2.0  |
| 2  |    1    |    2     |  3.0  |
| 3  |    1    |    3     |  4.0  |
| 4  |    1    |    7     |  2.0  |
| 5  |    2    |    3     |  5.0  |
| 6  |    2    |    5     |  4.0  |
| 7  |    2    |    6     |  1.5  |
| 8  |    2    |    7     |  2.5  |
| 9  |    3    |    2     |  3.0  |
| 10 |    3    |    5     |  1.5  |
+----+---------+----------+-------+
[27 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [131]:
# features of the hotels one-hot encoded
# e.g. columns represent the features 
hotels_feats = [[1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0],
                [1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0],
                [0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0],
                [1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1],
                [0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0],
                [1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1],
                [0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0]]

data = [{'id' : 1, 'hotel_id': 1, 'feature_id': 1},
      {'id' : 2, 'hotel_id': 1, 'feature_id': 2},
      {'id' : 3, 'hotel_id': 1, 'feature_id': 5},
      {'id' : 4, 'hotel_id': 1, 'feature_id': 6},
      {'id' : 5, 'hotel_id': 1, 'feature_id': 7},
      {'id' : 6, 'hotel_id': 1, 'feature_id': 10},
      {'id' : 7, 'hotel_id': 1, 'feature_id': 11},
      {'id' : 8, 'hotel_id': 1, 'feature_id': 12},
      {'id' : 9, 'hotel_id': 2, 'feature_id': 1},
      {'id' : 10, 'hotel_id': 2, 'feature_id': 2},
      {'id' : 11, 'hotel_id': 2, 'feature_id': 6},
      {'id' : 12, 'hotel_id': 2, 'feature_id': 7},
      {'id' : 13, 'hotel_id': 2, 'feature_id': 11},
      {'id' : 14, 'hotel_id': 2, 'feature_id': 12},
      {'id' : 15, 'hotel_id': 3, 'feature_id': 3},
      {'id' : 16, 'hotel_id': 3, 'feature_id': 4},
      {'id' : 17, 'hotel_id': 3, 'feature_id': 8},
      {'id' : 18, 'hotel_id': 3, 'feature_id': 9},
      {'id' : 19, 'hotel_id': 4, 'feature_id': 1},
      {'id' : 20, 'hotel_id': 4, 'feature_id': 3},
      {'id' : 21, 'hotel_id': 4, 'feature_id': 4},
      {'id' : 22, 'hotel_id': 4, 'feature_id': 6},
      {'id' : 23, 'hotel_id': 4, 'feature_id': 8},
      {'id' : 24, 'hotel_id': 4, 'feature_id': 9},
      {'id' : 25, 'hotel_id': 4, 'feature_id': 10},
      {'id' : 26, 'hotel_id': 4, 'feature_id': 11},
      {'id' : 27, 'hotel_id': 5, 'feature_id': 5},
      {'id' : 28, 'hotel_id': 5, 'feature_id': 10},
      {'id' : 29, 'hotel_id': 5, 'feature_id': 11},
      {'id' : 30, 'hotel_id': 5, 'feature_id': 12},
      {'id' : 31, 'hotel_id': 6, 'feature_id': 1},
      {'id' : 32, 'hotel_id': 6, 'feature_id': 5},
      {'id' : 33, 'hotel_id': 6, 'feature_id': 6},
      {'id' : 34, 'hotel_id': 6, 'feature_id': 10},
      {'id' : 35, 'hotel_id': 6, 'feature_id': 11},
      {'id' : 36, 'hotel_id': 6, 'feature_id': 13},
      {'id' : 37, 'hotel_id': 7, 'feature_id': 2},
      {'id' : 38, 'hotel_id': 7, 'feature_id': 3},
      {'id' : 39, 'hotel_id': 7, 'feature_id': 7},
      {'id' : 40, 'hotel_id': 7, 'feature_id': 8},
      {'id' : 41, 'hotel_id': 7, 'feature_id': 12}]

with open('hotels_features.csv', 'w') as csvFile:
    fields = ['id', 'hotel_id', 'feature_id']
    writer = csv.DictWriter(csvFile, fieldnames=fields)
    writer.writeheader()
    writer.writerows(data)

print("writing completed")

csvFile.close()

writing completed

In [132]:
df_hotels_features = pd.read_csv('hotels_features.csv')
df_hotels_features.head(10)

   id  hotel_id  feature_id
0   1         1           1
1   2         1           2
2   3         1           5
3   4         1           6
4   5         1           7
5   6         1          10
6   7         1          11
7   8         1          12
8   9         2           1
9  10         2           2

In [133]:
training_data, validation_data = tc.recommender.util.random_split_by_user(df_users_hotels, 'user_id', 'hotel_id')
model = tc.recommender.create(training_data, 'user_id', 'hotel_id')

Warning: Ignoring columns id, score;

    To use one of these as a target column, set target = <column_name>

    and use a method that allows the use of a target.

Preparing data set.

    Data has 21 observations with 7 users and 7 items.

    Data prepared in: 0.003271s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 601us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 930us                               | 12               | 0               |

| 1.237ms                             | 100              | 7               |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.002057s

In [151]:
def hotel_commendation(user_name):
    '''
    input: User's name
    output:  3 hotels that may be of interest to the user
    '''
    user_id = df_users.loc[df_users['name']==user_name, 'id'].iloc[0]
    results = model.recommend(users=[user_id], k=3)
    lis = []
    for i in results['hotel_id']:
        lis.append(df_hotels.loc[df_hotels['id']==i, 'name'].iloc[0])
    return lis

hotel_commendation('Ivaldo')

['Hotel_7', 'Hotel_3', 'Hotel_4']

In [147]:
def hotel_features(hotel_name):
    '''
    imput : hotel name
    output : list of feature's names in the hotel
    '''
    # extract column value based on another column 
    hotel_id = df_hotels.loc[df_hotels['name'] == 'Hotel_3', 'id'].iloc[0] 
    features = df_hotels_features.loc[df_hotels_features['hotel_id'] == hotel_id, 'feature_id'].values
    
    lis = []
    for i in features:
        lis.append(df_features.loc[df_features['id']==i, 'name'].iloc[0])
    return lis    
hotel_features('Hotel_7')

['Free_Internet', 'Breakfast', 'Laundry_service', 'Multilingual_Staff']

### Export the model in Core ML format

In [148]:
model.export_coreml("MyRecommender.mlmodel")

This model is exported as a custom Core ML model. In order to use it in your
application, you must also include "libRecommender.dylib". For additional
details see:
https://apple.github.io/turicreate/docs/userguide/recommender/coreml-deployment.html

### Saving and loading models

The model can be saved for later use, either on the local machine or in an AWS S3 bucket. The saved model sits in its own directory, and can be loaded back in later to make more predictions.
```python
model.save("my_model.model")
```
Like other models in Turi Create, we can load the model back:
```python
model = tc.load_model("my_model.model")
```

## References

- [Writing CSV files in Python](https://www.programiz.com/python-programming/working-csv-files#writing-csv-into-dictionary)
- [Recommender systems by Turi Create](https://apple.github.io/turicreate/docs/userguide/recommender/)